body {
  background-color: #8a4fff;
}

header {
  border-bottom: 2px solid #ffbf46;
}

h1 {
  text-align: center;
}

footer {
  border-top: 2px solid #ffbf46;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.balance-card {
  background-color: #ffbf46;
  padding: 1%;
  width: 25%;
  margin-top: 3%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transactions-list {
  background-color: ghostwhite;
  border: 2px solid black;
  padding: 2%;
  height: 200px;
  width: fit-content;
  overflow: scroll;
}

.transaction .transaction-amount {
  padding: 1%;
}

.transaction-amount {
  border-bottom: 1px solid black;
}

img {
  width: 25%;
  height: auto;
  border: 1px solid #ffbf46;
  border-radius: 10px;
}

.buttons {
  width: 30%;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  background-color: #ffbf46;
  border: 2px solid #8a4fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  width: 25%;
}

.buttons button:hover {
  cursor: pointer;
  opacity: 0.6;
}
